body {
    font-family: Arial, sans-serif;
    background-color: #151325;
    text-align: center;
    padding: 40px;
}

h1 {
    color: greenyellow;
}

table {
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 2px solid gray;
    padding: 20px;
    text-align: center;
}

th {
    font-weight: bold;
}

td {
    min-width: 100px;
}

p {
    background-color: white;
    width: 750px;
    margin: 0 auto;
    padding: 15px;
}